<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailSenderAddress>alexey.vishniak@gmail.com</emailSenderAddress>
    <emailSenderName>HotelsSystemCommunity</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>Customer Community Plus Login Custom</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>HotelsSystemCommunity1</picassoSite>
    <selfRegProfile>customer community plus login custom</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>HotelsSystemCommunity</site>
    <status>Live</status>
    <tabs>
        <customTab>Room__c</customTab>
        <customTab>Customer__c</customTab>
        <customTab>Hotel__c</customTab>
        <customTab>Reservation__c</customTab>
        <customTab>Additional_services__c</customTab>
        <customTab>Hotels_System_View</customTab>
        <defaultTab>01r2w000000LBAD</defaultTab>
    </tabs>
    <urlPathPrefix>HotelsSystemCommunity</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
